---
const { heroImage, description, title, cover, desc, url, audioUrl, pubDate, duration, explicit, season, episode, id, keywords } = Astro.props;
import { SITE_INFO } from '../consts';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const image = heroImage;
console.log(title);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_INFO.site_title}
	href={new URL('rss.xml', Astro.site)}
/>
<meta name="generator" content={Astro.generator} />



<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{(title != '') ? title : SITE_INFO.site_title}</title>
<meta name="title" content={(title != '') ? title : SITE_INFO.site_title} />
<meta name='language' content={SITE_INFO.site_language} />
<meta name="description" content={(description != '') ? description : SITE_INFO.site_description} />
<meta name="subject" content={SITE_INFO.site_subject} />
<meta name='robots' content='index,follow' />
<meta name='copyright' content={SITE_INFO.company_name} />
<meta name='author' content={SITE_INFO.admin_email} />
<meta name='reply-to' content={SITE_INFO.admin_email} />
<meta name='keywords' content={(typeof(keywords) == 'object') ? keywords.join(',') : SITE_INFO.site_keywords.join(',')} />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="url" content={SITE_INFO.site_url}/>
<meta name="identifier-url" content={SITE_INFO.site_url}/>
<meta name='syndication-source' content={canonicalURL} />
<meta name='original-source' content={canonicalURL} />


<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={(title != '') ? title : SITE_INFO.site_title} />
<meta property="og:description" content={(description != '')  ? description : SITE_INFO.site_description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta property="og:site_name" content={SITE_INFO.site_title}/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={(title != '')  ? title : SITE_INFO.site_title}/>
<meta property="twitter:description" content={(description != '')  ? description : SITE_INFO.site_description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
