---
const { id, hero, title, pubdate, heroalt, description} = Astro.props;
import FormattedDate from './FormattedDate.astro';

---
<div class="bg-accent shadow rounded p-4 border border-theme-secondary">
  <a class="text-link hover:text-link-hover" href={`/blog/${id}/`}>
  <section class="post-title">
    <h3 class="text-xl font-semibold text-theme-text mb-2">{title}</h3>
  </section>
  <section class="post-hero-image">
    <img width={720} height={360} src={hero} alt="{heroalt}" />
  </section>
  <section class="post-description">
    <p class="text-sm text-theme">{description}</p>
  </section>
  <section class="post-date">
    <span class="text-lg">
      <FormattedDate date={pubdate} />
    </span>								
  </section>
  </a>
  <a href="{`/blog/${id}/`}" class="link-theme underline inline-block mt-2">Read More</a>		
</div>