---
const { title, cover, coveralt, desc, url, audioUrl, id, pubDate, duration, explicit, episode, season } = Astro.props;
import podcastConfig from "../../podcast.config.json";
import MediaEnclosure from "../components/MediaEnclosure.astro";
import formatTime  from "../modules/field_formatter.js";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";
dayjs.extend(localizedFormat);

let coverURL = cover ? cover : podcastConfig.cover;
const dateFormatted = dayjs(pubDate).format("ll");
const durationFormatted = formatTime(duration);

const epidodeInfoClasses = "episode-info" + " " + (explicit ? "episode-explicit" : "");
---
<div class="bg-accent shadow rounded p-4 border border-theme-secondary">
  <section class="cover-image">
    <a href={url}><img width={720} height={360} src={coverURL} alt={coveralt} /></a>
  </section>
  <section class={epidodeInfoClasses}>
    <a class="text-link hover:text-link-hover" href={url}>
      <h3 class="text-xl font-semibold text-theme-text mb-2">{title}</h3>
    </a>
    <div class="text-sm text-theme-text">
    <div><strong>published date: </strong>{dateFormatted}</div>
    <div><strong>duration: </strong>{durationFormatted}</div>
    <div class="text-accent">{desc}</div>
    </div>
  </section>
  <section class="episode-enclosure">
     <MediaEnclosure audioUrl={audioUrl} id={id} />
  </section>
</div>